.bg-intro {
  background-image: url("../../images/background/intro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-goal {
  background-image: url("../../images/background/goal.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-timeline {
  background-image: url("../../images/background/timeline.jpg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-gallery {
  background-image: url("../../images/background/coming-soon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-skill {
  background-image: url("../../images/background/skill.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
