.slot {
  position: relative;
  padding: 1rem 1rem 1rem 1rem;
  border-left: 1px dashed;
  height: calc(100% - 1rem);
  width: 350px;
  @apply border-tint-1 flex-shrink-0;
}
.slot:nth-child(odd) {
  border-bottom: 2px dashed;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 0;
  margin-top: 1rem;
  @apply flex flex-col justify-end border-tint-1;
}
.slot:nth-child(even) {
  border-top: 2px dashed;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding-bottom: 0;
  margin-bottom: 1rem;
  @apply border-tint-1;
}
.slot:first-of-type {
  border-left: 0px;
}

.card {
  padding: 0.5rem 1rem 1rem 1rem;
  background-color: burlywood;
  border-radius: 20px;
}
.card::before {
  display: block;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border: 4px solid rgb(41, 26, 20);
  border-radius: 100%;
  @apply mx-auto;
}

.card-body {
  @apply text-base;
}

.card-end {
  @apply flex flex-row flex-wrap;
}

.card.projects {
  background-color: rgb(192, 184, 156);
}
.card.work {
  background-color: rgb(158, 190, 184);
}
.card.others {
  background-color: rgb(177, 171, 165);
}

.card-image-container {
  @apply mx-1;
}

.card-image {
  transition-duration: 0.5s;
  @apply h-14 w-14 rounded-full;
}
.card-image-container::before {
  content: "";
  @apply transition-opacity w-full h-full absolute rounded-full bg-black opacity-0;
}
.card-image-container:hover::before {
  @apply opacity-50;
}
.card-image-container::after {
  content: "View";
  transform: translate(-50%, -50%);
  font-size: 0.6rem;
  line-height: 0.6rem;
  @apply absolute transition-opacity top-1/2 left-1/2 text-white px-2 py-1 font-semibold border-2 rounded bg-black bg-opacity-40 opacity-0;
}
.card-image-container:hover::after {
  @apply opacity-100;
}

.card-hover-image {
  visibility: hidden;
  transition: width, height;
  transition-duration: 0.5s;
  transform-origin: top center;
  left: 50%;
  top: 105%;
  width: 0;
  height: 0;
  transform: translateX(-50%);
  @apply absolute;
}
.card-image-container:hover .card-hover-image {
  visibility: visible;
  z-index: 9999;
  width: auto;
  height: 200%;
}

div::-webkit-scrollbar {
  height: 0.3rem;
}

div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}

div::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}
