@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.75s;
  animation-fill-mode: forwards;
  animation-delay: 250ms;
  animation-timing-function: ease-in-out;
}

@keyframes wipe {
  from {
    width: 0;
  }
}

.wipe {
  animation: wipe 1s;
  animation-fill-mode: backwards;
  animation-delay: 250ms;
  animation-timing-function: ease-out;
}
