@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#___gatsby,
#gatsby-focus-wrapper {
  height: 100%;
}

@layer utilities {
  .anim-duration-600 {
    animation-duration: 600ms !important;
  }
  .anim-duration-1500 {
    animation-duration: 1500ms !important;
  }
}

.absolute-center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.absolute-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
